*:not(dialog) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    background-color: ghostwhite;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit;
}

#notification {
    position: absolute;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    bottom: 2rem;
    right: calc(50% - 156px);
    transform: translateY(10px);
    border-radius: 5px;
    color: white;
    /* display: none; */
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
    pointer-events: none;
    min-width: 311px;
    z-index: 100;
    text-align: center;
}


#notification.show {
    opacity: 1;
    /* display: block; */
    transform: translateY(0);
}

#notification.alert {
    background-color: #6ef2a7;
    color: black;
}

#notification.error {
    background-color: #f26e6e;
}

dialog {
    background-color: transparent;
    border: none;
    width: 100%;
}

dialog::backdrop {
    background-color: #2d2d2d80;
}

.active {
    background-color: #836ca940;
    font-weight: 600;
}

#load-file-content-container {
    /* background-color: white; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-width: 1000px;
    margin: auto;
    /* display: flex; */
    /* flex-direction: column; */
}

#load-file-content {
    display: flex;
    flex-grow: 1;
    position: relative;
    min-height: 400px;
}

#load-file h3 {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #2d2d2d20;
    background-color: #836ca9;
    color: white;
    font-weight: 600;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#file-list {
    border-right: 1px solid #2d2d2d20;
    background-color: #eeeeee;
    flex-grow: 1;
    width: 50%;
}

#file-list p {
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
    cursor: pointer;
}

#file-list p:hover {
    background-color: #836ca920;
}

#file-preview {
    width: 50%;
    flex-grow: 1;
}

#file-preview-code {
    background-color: white;
    color: black;
    padding: 0.5rem;
    height: 100%;
    font-family: Monaco, 'Roboto Mono', monospace;
}

#load-file-controls {
    display: flex;
}

#load-file-controls button {
    width: 50%;
    flex-grow: 1;
    border: none;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: background-color 0.3s;
}

#load-button {
    background-color: #836ca9;
    color: white;
    border-bottom-right-radius: 5px;
}

#load-button:hover {
    background-color: #a288cb;
}

#close-load-button {
    background-color: #434343;
    color: white;
    border-bottom-left-radius: 5px;
}

#close-load-button:hover {
    background-color: #565656;
}

.italic {
    font-style: italic;
}

@media screen and (max-width: 650px) {
    #file-preview {
        display: none;
    }

    #file-list {
        border-top: 1px solid #2d2d2d20;
    }
}
