extends layout.pug

block content
    include ./repl.pug

    dialog#load-file
        div#load-file-content-container
            h3 Load file
            div#load-file-content
                div#file-list
                    for file in files 
                        p(onclick=`updatePreview(${JSON.stringify(file)})`)=file.filename
                div#file-preview
                    pre#file-preview-code=files[0].code
            div#load-file-controls
                button#close-load-button(onclick='closeLoadModal()') Cancel
                    span.material-symbols-rounded close
                button#load-button(onclick='loadFile()') Load File
                    span.material-symbols-rounded arrow_forward
                    