html
    head
        title Computing Hub

        //- GOOGLE FONTS IMPORT
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:wght@300;400;500;700&display=swap" rel="stylesheet")

        link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet")

        //- GOOGLE ICONS IMPORT
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")

        meta(name="viewport" content="width=device-width,initial-scale=1")

        script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ext-language_tools.js')

        script(src="https://kit.fontawesome.com/264882c67d.js" crossorigin="anonymous")

        style
            include ./styles/global.css
            include ./styles/nav.css
    body
        nav
            a.logo(href='/') Computing Hub
            ul.navigation-links
                if user
                    a(href='/dashboard') Dashboard
                    a#logout-button(href='/logout') Logout
                else
                    a(href='/login') Login
                    a(href='/signup') Sign up

        block content

        div#notification="<insert message here>"

        script
            include ./scripts/index.js
