extends layout.pug

block content
    style
        include ./styles/login.css

    div.login-page
        form(method="POST" action="/login")
            h2 Login
            if message
                p.error=message
            input(type="email" name="email" placeholder="email" autocomplete='email')
            input(type="password" name="password" placeholder="********" autocomplete='password')
            button Login
            a(href="/signup") Don't have an account? Sign up
