style
    include ./styles/repl.css

div.repl
    div.controls
        input#filename(type='text' placeholder='app.py' name='filename' required)
        div.controls-buttons
            button(onclick="loadModal()")
                p Load
                span.material-symbols-rounded folder
            button(onclick="save()")
                p Save
                span.material-symbols-rounded cloud_download
            button(onclick="runit()")
                p Run
                span.material-symbols-rounded arrow_forward
    div.ide
        div#editor
        div#output-container
            pre#output
            textarea#input

script
    include ./scripts/editor/editor.js
script
    include ./scripts/skulpt/skulpt.min.js
script
    include ./scripts/skulpt/skulpt-stdlib.js
script
    include ./scripts/skulpt/skulpt.js
