extends layout.pug

block content
    style
        include ./styles/login.css

    div.login-page
        form(method="POST" action="/signup")
            h2 Sign up
            if message
                p.error=message
            input(type="text" name="name" placeholder="full name" required autocomplete='name')
            input(type="text" name="username" placeholder="username" required autocomplete='username')
            input(type="email" name="email" placeholder="email" required autocomplete='email')
            input(type="password" name="password" placeholder="password" required autocomplete='new-password')
            input(type="password" name="confirm-password" placeholder="confirm password" required autocomplete='new-password')
            button Sign up
            a(href="/login") Already have an account? Login
